<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments/fragments :: head(title='Bookings')" />

<!-- Add custom styling -->
<link rel="stylesheet" th:href="@{/css/booking.css}">
<link rel="stylesheet" href="css/bootstrap.min (4).css">

<body>
    <nav th:replace="fragments/fragments :: navbar" />

    <div class="container-fluid">
        <div class="row">
            <nav th:replace="fragments/fragments :: sidebar" />
            <div class="col-md-10 col-sm-12 mt-3">
                <h4 th:replace="fragments/fragments :: heading(text='Bookings')" />

                <div class="search-container mb-4">
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="input-group col-4">
                            <input class="form-control" id="searchBar" type="text" placeholder="Search Booking..."  />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-search"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 d-flex justify-content-end">
                            <button id="addBookingBtn" class="btn btn-primary">Add Booking</button>
                        </div>
                    </div>
                </div>

                <!-- Modal for tickets -->
                <div class="modal fade" id="ticketsModal" tabindex="-1" role="dialog" aria-labelledby="ticketsModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5>Tickets</h5>
                                <ul class="list-group modal-tickets">
                                    <!-- js generated tickets list -->
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Booking Modal For adding and deleting -->
                <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModal" aria-hidden="true">
                    <div class="modal-dialog modal-full" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitle">Add Booking</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- List of movies and dates with Showings underneath -->
                                <div class="row container mt-1">
                                    <div class="col-md-7 movies-container">
                                        <h5>Movies</h5>
                                        <ul class="list-group movies-list" id="moviesList">
                                            <!-- Fetched list of movies -->
                                        </ul>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="dates-container">
                                            <h5>Dates</h5>
                                            <ul class="list-group dates-list" id="screeningDates">
                                                <!-- Fetched screenings dates -->
                                            </ul>
                                        </div>
                                        <div class="times-container mt-2">
                                            <h5>Screening times</h5>
                                            <ul class="list-group mt-3 times-list" id="screeningTimes">
                                                <!-- List of Screening times -->
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                                <div class="seats-container">
                                    <hr>
                                    <!-- Seats to select -->
                                    <h4 class="text-center">Seats</h4>
                                    <div class="screen mx-auto mb-5"></div>
                                    <div class="mt-3 mb-4" id="seatsGrid">
                                    <!-- Dynamically updated seats from js -->
                                    </div>


                                </div>
                            </div>  <!-- Modal body - end -->
                            <div class="modal-footer">
                                <div class="footer">
                                    <div class="form-container" >
                                        <input class="form-control" placeholder="Phone Number" name="phoneNum" type="text" id="phoneNum" maxlength="8"/>
                                    </div>
                                    <div class="footer-information">
                                        <div>
                                            Tickets: <span id="ticketsCount" class="badge badge-secondary">0</span>
                                        </div>
                                        <div>
                                            Price: <span id="price" class="badge badge-secondary">0</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" id="submitBtn">Book tickets</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Booking modal -- End -->

                <!-- Table -->
                <table id="bookingsTable" class="table table-hover">
                    <caption>List of bookings</caption>
                    <thead class="thead-dark">
                        <tr class="d-flex">
                            <th class="col-3">movie</th>
                            <th class="col-2">date</th>
                            <th class="col-1">time</th>
                            <th class="col-3">phone</th>
                            <!-- columns for tickets, edit and delete button -->
                            <th class="col-1"></th>
                            <th class="col-1"></th>
                            <th class="col-1"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="d-flex" th:each="booking : ${bookings}" th:attr="data-bookingid=${booking.id}">
                            <td class="col-3" th:text="${booking.movie.title}">movie</td>
                            <td class="col-2" th:text="${booking.screening.date}">date</td>
                            <td class="col-1" th:text="${booking.screening.time}">time</td>
                            <td class="col-3" th:text="${booking.customerPhoneNumber}">phone</td>
                            <td class="col-1">
                                <button class="btn btn-outline-dark btn-tickets" title="tickets">
                                    <span class="fas fa-ticket-alt"></span>
                                </button>
                            </td>
                            <td class="col-1">
                                <button class="btn btn-outline-dark btn-edit" title="edit">
                                    <span class="fas fa-edit"></span>
                                </button>
                            </td>
                            <td class="col-1">
                                <button class="btn btn-outline-dark btn-delete" title="delete">
                                    <span class="fas fa-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Popper js for tooltips-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap script -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom js -->

    <!-- Modal class with functionality  -->
    <script th:src="@{/js/Modal.js}"></script>
    <!-- General functionality to use in other files  -->
    <script th:src="@{/js/booking/bookingUtilities.js}"></script>
    <!--  Dynamic searching of bookings when typing in the search bar  -->
    <script th:src="@{/js/booking/searchBooking.js}"></script>
    <!--  Show modal with tickets for the booking  -->
    <script th:src="@{/js/booking/showTickets.js}"></script>
    <!--  Delete Bookings functionality -->
    <script th:src="@{/js/booking/deleteBooking.js}"></script>
    <!--  Add booking functionality -->
    <script th:src="@{/js/booking/addBooking.js}"></script>
    <!--  Edit booking functionality  -->
    <script th:src="@{/js/booking/editBooking.js}"></script>

</body>
</html>