<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments/fragments :: head(title='Cinemas')" >

</head>
<body>
<!--this is for the navigation bar-->

<nav th:replace="fragments/fragments :: navbar" />

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/fragments :: sidebar" />

        <div class="col-10 mt-3">
            <h4 th:replace="fragments/fragments :: heading(text='Cinemas')" />
            <div class="container mt-4" >

                <!-- modal info -->
                <div class="modal fade" id="editCinema" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editCinemaTitle">Edit Cinema</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label for="name">Title</label>
                                <input type="text" class="form-control" id="editName" placeholder="Name" maxlength="50">
                            </div>
                            <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-warning" id="submitChanges" data-toggle="modal" data-target="#editCinema">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal ends -->

                <!-- List of available cinemas -->
                <table class="table table-hover">
                    <caption>List of cinemas</caption>
                    <thead class="thead-dark">
                    <tr class="d-flex">
                        <th class="col-5">Id</th>
                        <th class="col-5">Name</th>
                        <!-- columns for edit and delete button -->
                        <th class="col-1"></th>
                        <th class="col-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="d-flex" th:each="cinema : ${cinemaList}">
                        <td class="col-5" th:text="${cinema.id}" />
                        <td class="col-5" th:text="${cinema.name}"/>
                        <td class="col-1"><a href="#"
                                             id = "editButton"
                                             class="btn btn-warning"
                                             data-toggle="modal"
                                             data-target="#editCinema"
                                             th:attr="data-cinemaID = ${cinema.id}"><span class="fas fa-edit"></span></a></td>
                        <td class="col-1">
                            <a class="btn btn-danger" th:href="@{'/cinemas/delete/' + ${cinema.id}}"><span class = "fas fa-trash"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <!-- Form for adding a cinema -->
                <!-- <h1 class="display-4">Add New Movie</h1> -->

                <details>
                    <summary>Add new cinema</summary>
                    <p>
                    <p class="lead">
                    <form method="post" th:object="${newCinema}">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{name}">
                        </div>

                        <input type="submit" class="btn btn-outline-dark" value="Add cinema"/>
                        <button type="reset" class="btn btn-outline-dark">Cancel</button>
                    </form>
                    </p>
                    </p>
                </details>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/bootstrap.min (4).css">
<script th:src="@{/js/cinema/cinemas.js}"></script>
</body>
</html>
