<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments/fragments :: head(title='Dashboard')">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" href="css/bootstrap.min (4).css">
</head>

<body>
<nav th:replace="fragments/fragments :: navbar" />

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/fragments :: sidebar" />
        <div class="col-10 content" style="margin-top: 10px;">

            <div class="row" style="justify-content: space-evenly">

                <div class="col-3">
                    <div class="card infobox-lg mb-2">
                        <div class="card-body">
                            <h2 class="total-screenings"></h2>
                            <p>Users visited</p>
                        </div>
                    </div>

                    <div class="card infobox-lg mb-2">
                        <div class="card-body">
                            <h2 class="total-bookings"></h2>
                            <p>bookings made in total</p>
                        </div>
                    </div>

                    <div class="card infobox-lg">
                        <div class="card-body">
                            <h2 class="total-tickets"></h2>
                            <p>tickets booked in total</p>
                        </div>
                    </div>


                </div>

                <div class="col-3">
                    <div class="card infobox-lg mb-2">
                        <div class="card-body">
                            <h2 class="total-sales"></h2>
                            <p>total price of the ticket sales</p>
                        </div>
                    </div>

                    <div class="card infobox-lg">
                        <div class="card-body">
                            <h2 class="future-screenings"></h2>
                            <p>planned amount of sales</p>
                        </div>
                    </div>
                </div>


                <div class="col-5">

                    <div class ="card infobox-lg">
                        <div class="card-body scheduleCard">
                            <h3>Opening Hours</h3>
                            <ul class="list-group list-group-flush" id="openingHours">
                                <li class="list-group-item d-flex justify-content-between" id="day" th:each="day : ${schedule}" th:object="${day}"
                                    th:attr="data-dayNo=${day.dayNo}, data-cinemaId=${day.cinemaId}">
                                    <span id="date" th:text="${days[day.dayNo - 1]}"></span>
                                    <span id="schedule" th:text="${day.openingHour} + ' - ' + ${day.closingHour}"></span>
                                    <button
                                            id = "editScheduleButton"
                                            class="btn btn-outline-dark btn-edit"
                                            title="edit">
                                        <span class="fas fa-edit"></span>
                                    </button>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script th:src="@{/js/dashboard.js}"></script>



<script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};loadClient()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>


</body>
</html>
