<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/fragments :: head(title='Screenings')" >

</head>
<body>
<!--this is for the navigation bar-->
<nav th:replace="fragments/fragments :: navbar" />
<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/fragments :: sidebar" />
        <div class="col-10 mt-3">
            <h4 th:replace="fragments/fragments :: heading(text='Screenings')" />

            <div class="container mt-4" >

                <!-- Modal -->
                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                <label for="modalMovie">Movie</label>
                                <select class="form-control" id="modalMovie" aria-describedby="movie" >
                                    <option hidden></option>
                                    <option th:each="movie : ${movieList}" th:attr="data-movie_id=${movie.id}" th:text="${movie.title}"/>
                                </select>
                                <label for="modalTheater">Theater</label>
                                <select class="form-control" id="modalTheater" aria-describedby="theater">
                                    <option style="display:none;"></option>
                                    <option th:each="theater : ${theaterList}" th:attr="data-theater_id=${theater.id}" th:text="${theater.name}"/>
                                </select>
                                <label for="modalDate">Date</label>
                                <input type="date" class="form-control" id="modalDate" placeholder="screeningDate">
                                <label for="modalTime">Time</label>
                                <input type="time" class="form-control" id="modalTime">
                                <label for="modalPrice">Price</label>
                                <input type="number" class="form-control" id="modalPrice">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-warning" id="submitButton" >Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- table for displaying the list of available screenings -->
                <div id="screening-table-container">
                <table class="table table-hover" id="screeningTable">
                    <caption>List of screenings</caption>
                    <thead class="thead-dark" style="top:0px;">
                    <tr class="d-flex">
                        <th class="col-2 sticky-header">Movie id</th>
                        <th class="col-2 sticky-header">Theater room</th>
                        <th class="col-2 sticky-header">Date</th>
                        <th class="col-2 sticky-header">Time</th>
                        <th class="col-2 sticky-header">Price</th>
                        <!-- columns for edit and delete button -->
                        <th class="col-1"></th>
                        <th class="col-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="d-flex" th:each="screening : ${screeningList}">
                        <td class="col-2" th:text="${screening.movieId}" />
                        <td class="col-2" th:text="${screening.theater.name}"/>
                        <td class="col-2" th:text="${screening.date}"/>
                        <td class="col-2" th:text="${screening.time}"/>
                        <td class="col-2" th:text="${screening.price}"/>
                    </tr>
                    </tbody>
                </table>
                </div>

            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<!-- Bootstrap scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>